<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Länk till CSS-->
    <link rel="stylesheet" href="/css/main.css">
    <!--Länk till javascript mobilmeny-->
    <script type="module" src="/js/menu.js"></script>
    <title>Startsida | Ditt digitala CV</title>
</head>

<body>
    <!--Header med logotyp och knapp för att öppna mobilmeny-->
    <header>
        <!--Logotypen-->
        <a href="/">
            <img src="/icon.png" alt="Logotyp" id="logo">
        </a>
        <button id="btn-open">
            <span class="bars-menu">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="open-menu-text">
                Meny
            </span>
        </button>
        <nav id="main-nav">
            <button id="btn-close">
                <span class="bars-menu">
                    <span class="bars-cross1"></span>
                    <span class="bars-cross2"></span>
                </span>
                <span class="close-menu-text">
                    Meny
                </span>
            </button>
            <div class="center-menu">
                <ul>
                    <li><a href="/" class="menu-link" id="menu-underline">Startsida</a></li>
                    <li><a href="/course" class="menu-link">Lägg till kurs</a></li>
                    <li><a href="/about" class="menu-link ph-link">Om sidan</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Huvudinnehåll-->
    <main>
        <h1>Ditt digitala CV</h1>
        <article id="course-list">
            <h2>Din kurslista</h2>
            <!--Kod som läser in och bygger en lista för varje inlägg i databasen.-->
            <% if(locals.rows.length> 0) { %>
                <% locals.rows.forEach((row)=> { %>
                    <div>
                    <h3>
                        <%= row.COURSE_NAME %>
                    </h3>
                    <ul>
                        <li>
                            Kurskod: <%= row.COURSE_CODE %>
                        </li>
                        <li>
                            Kursname: <%= row.COURSE_NAME %>
                        </li>
                        <li>
                            Progression: <%= row.PROGRESSION %>
                        </li>
                        <li><a href=<%= row.SYLLABUS %>>
                                Länk till kursplan
                            </a>
                        </li>
                    </ul>
                    <!--Knapp för att radera inlägg-->
                    <button class="delete-button" onclick="window.location.href='/delete/<%= row.COURSE_ID%>';">Radera</button>
                </div>
                    <% }); %>
                <% } %>
        </article>
    </main>
    <footer>
        <p>Skapad av Markus Vickman för Moment 1 i DT207G - Backend-baserad webbutveckling</p>
    </footer>
</body>

</html>